version: 2.1
orbs:
  ruby: circleci/ruby@2.0.0
  coveralls: coveralls/coveralls@2.2.1

jobs:
  build:
    docker:
      - image: cimg/ruby:3.3.0-node
        auth:
          username: $DOCKERHUB_USER
          password: $DOCKERHUB_PASSWORD

    executor: ruby/default
    steps:
      - checkout
      - run:
          name: Which bundler?
          command: bundle -v
      - run: bundle install
      - run:
          name: lint
          command: bundle exec rubocop
      - run:
          name: test
          command: bundle exec rake

      - coveralls/upload:
          coverage_file: ./coverage/lcov/cob_web_index.lcov
